[knife_parameters]
folder = 
template = 
cspec = 
domain = 
secretkey = 
sshuser = 
sshpassword = 
databag = 
config = 

[pyvmomi_config]
vchost = 
vcuser = 
vcpassword = 
vcport = 

[cocreate_config]
# ISEE subdomain. Used for VM hostnames.
subdomain = isse.mitre.org

# 'recipes' is a comma-separated list of supported VM templates.
# These should correspond to 'recipe' strings in the Co-Create app's sandbox template table.
recipes = geoq
