{% extends "newbase.html" %}

{% block title %}Add a new Playground{% endblock %}

{% load bootstrap3 %}


{% block content %}

<div class="page-header">
	<h1>Add a new Playground</h1>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<form action="{% url 'playground-add' %}" method="post" role="form">
			{% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Add Playground
                </button>
            {% endbuttons %}            
		</form>		
	</div>
</div>
{% endblock %}