{% extends "newbase.html" %}

{% block title %}Manage Playground Group Access{% endblock %}

{% load bootstrap3 %}


{% block content %}

<div class="page-header">
	<h1>Manage Playground Group Access</h1>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<form action="{% url 'playground-groupaccess-alter' playground.id %}" method="post" role="form">
			{% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Save
                </button>
            {% endbuttons %}            
		</form>		
	</div>
</div>
{% endblock %}