{% extends "base.html" %}

{% block title %}Add a Playground{% endblock %}

{% block content %}

<div class="page-header">
	<h1>Add a Playground</h1>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<form action="/playground/request" method="post" role="form">
			{% csrf_token %}
		    {{ form.non_field_errors }}
			<div class="form-group {% if form.name.errors %}has-error{% endif %}">
				{{ form.name.label_tag }}
				<input id="id_name" name="name" type="text" maxlength=254 class="form-control" placeholder="Playground Name" value="{{ form.name.value|default:"" }}">
				{{ form.name.errors }}
			</div>

			<div class="form-group {% if form.environment.errors %}has-error{% endif %}">
				{{ form.environment.label_tag }}
				<select id="id_environment" name="environment" class="form-control">
        {% for val,name in form.fields.environment.choices %}
          <option value="{{ val }}" {% if form.environment.value == val %}selected{% endif %}>{{ name }}</option>
        {% endfor %}
        </select>
				{{ form.environment.errors }}
			</div>


			<div class="form-group">
				{{ form.description.label_tag }}
				<textarea id="id_description" name="description" rows=10 class="form-control">{{ form.description.value|default:"" }}</textarea>
				{{ form.description.errors }}
			</div>
      
	        <input type="submit" class="btn btn-primary" value="Add Playground"/>
		</form>		
	</div>
</div>
{% endblock %}