{% extends "base.html" %}
{% load cocreate_tags %}
{% load staticfiles %}

{% block title %}Sandbox Details > {{ sandbox.name }}{% endblock %}

{% block content %}
<br>
<div class="row">
	<div class="col-md-4">
		<a href="/playground/{{ sandbox.playground.id }}" class="btn btn-primary">&lt; Back to Playground Details</a>
	</div>
</div>
<div class="page-header">
	<h3>Details for Sandbox <em><b>{{ sandbox.name }}</em></b></h3>
</div>
<div class="row">
	<div class="col-md-8">
		<dl class="dl-horizontal">
			<dt>Playground</dt>
			<dd><a href="/playground/{{ sandbox.playground.id}}">{{ sandbox.playground.name }}</a></dd>
            <dt>Environment</dt>
            <dd>{{ sandbox.playground.get_environment_display }}</dd>
			<dt>Created At</dt>
			<dd>{{ sandbox_request.created_at }}</dd>
			<dt>Modified At</dt>
			<dd>{{ sandbox_request.modified_at }}</dd>
			<dt>Live Until</dt>
			<dd>{{ sandbox_request.sandbox_lifetime }}</dd>
			<dt>Template</dt>
			<dd>{{ sandbox_request.template.name }}</dd>
			<dt>Status</dt>
			<dd>
                {% if sandbox_request.request_status == 'err' %}
                    <img src="{% static "images/red-error-16.png" %}" border="0"/>
                {% endif %}
                {{ sandbox_request.get_request_status_display }}
            </dd>
            {% if sandbox_request.request_progress < 100 %}
            <dt>Request Progress</dt>
            <dd>
            {% get_request_progress_display sandbox_request.request_progress as req_progress %}{{ req_progress }} ({{ sandbox_request.request_progress_msg }})
            </dd>
			{% endif %}
            {% if sandbox.url %}
            <dt>URL</dt>
            <dd><a href="{{ sandbox.url }}">{{ sandbox.url }}</a></dd>
            {% endif %}
            <dt>Hostname</dt>
			<dd>{% if sandbox.playground.environment == 'locl' %}<em>Local Deployment</em>{% else %}{{ sandbox.hostname|default:"" }}{% endif %}</dd>
			<dt>IP Address</dt>
			<dd>{% if sandbox.playground.environment == 'locl' %}<em>Local Deployment</em>{% else %}{{ sandbox.ip_address|default:"" }}{% endif %}</dd>
		</dl>
	</div>
</div>
<div class="page-header">
  <h3>Notes for {{ sandbox_request.template.name }} Template</h3>
</div>
<h4>
    {{ sandbox_request.template.notes|safe }}
</h4>
{% endblock %}
