{% extends "base.html" %}
{% load cocreate_tags %}
{% load staticfiles %}

{% block title %}Playground Details > {{ playground.name }}{% endblock %}

{% block content %}

{% if playground.environment == "aws" or playground.environment == "isee" %}
<div class="page-header">
	<h2>{{ playground.name }}</h2>
</div>

<div class="row panel">
    <div class="col-md-6">
        <h3>Details</h3>
        <dl class="dl-horizontal">
            <dt>Owner:</dt>
            <dd>{{ playground.owner.username }}</dd>
            <dt>Environment:</dt>
            <dd>{{ playground.get_environment_display }}</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <h3>Description</h3>
        <p>{% if playground.description %}{{ playground.description }}{% else %}No Description Provided{% endif %}</p>
    </div>
</div>


{% if playground.environment == "isee" or playground.environment == "aws" %}
<div class="page-header">
	<h2>Sandboxes</h2>
</div>
<ul>

<div class="row" ng-app="">
	<div class="col-md-10 col-md-offset-1">
        {% if sandbox_requests %}
		<table class="table table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>Sandbox Name</th>
					<th>Status</th>
          <th>Request Progress</th>
					<th>Template</th>
					<th>Lifetime</th>
					<th>Hostname</th>
					<th>IP</th>
				</tr>
			</thead>
			<tbody>
				{% for request in sandbox_requests %}
					<tr>
						<td>
                {% if request.isAWS %}
                <a href="/sandbox/status/aws/{{ request.sandbox.name}}">{{ request.sandbox.name }}</a>
                {% else %}
                <a href="/sandbox/{{ request.sandbox.id }}">{{ request.sandbox.name }}</a>
                {% endif %}
            </td>
            {% if request.isAWS %}
            <td id="instanceStatus-{{ request.sandbox.name }}">*</td>
            <td colspan="5">AWS Instance</td>
            <script lang="javascript">
            $(window).load(function () {
                var instanceName = "{{ request.sandbox.name }}";
                util.getInstanceStatus(instanceName,
                    function (status) {
                      $("#instanceStatus-{{ request.sandbox.name}}").text(status.status);
                      console.log("Got status for {{ request.sandbox.name }}");
                      console.log(status);
                    },
                    function (data) {
                        console.log("Error getting status for {{ request.sandbox.name}}");
                        console.log(data);
                    }
                )
              });
            </script>
            {% else %}
						<td>
                            {% if request.request_status == 'err' %}
                                <img src="{% static "images/red-error-16.png" %}" border="0"/>
                            {% endif %}
                            {{ request.get_request_status_display }}
                         </td>
                        {% if request.sandbox.url %}
                        <td><a href="{{ request.sandbox.url }}">{% get_request_progress_display request.request_progress as req_progress %}{{ req_progress }}</a></td>
                        {% else %}
                        <td>{% get_request_progress_display request.request_progress as req_progress %}{{ req_progress }}</td>
                        {% endif %}
                        <td>{{ request.template.name }}</td>
						<td>{{ request.sandbox_lifetime }}</td>
						<td>{{ request.sandbox.hostname|default:"" }}</td>
						<td>{{ request.sandbox.ip_address|default:"" }}</td>
            {% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
        {% else %}
        <h3>This playground does not have any sandboxes yet.</h3>
        {% endif %}
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-md-8 col-md-offset-1">
        {% if playground.environment == "aws" %}
        <br><br>
        <a class="btn btn-primary" href="/sandbox/status_aws">AWS Sandbox Status</a><br><br>
		<a class="btn btn-primary" href="/sandbox/request_aws">Request New AWS Sandbox</a>
        {% elif playground.environment == "isee" %}
        <a class="btn btn-primary" href="/sandbox/request">Request New ISEE Sandbox</a>
        {% endif %}
	</div>
</div>
{% else %}
<h2>There is currently no support for creating {{ playground.get_environment_display }} sandboxes.</h2>
{% endif %}

{% endblock %}
